Data Types and Structures Questions

1--Data Structures are ways of organizing and storing data so that it can be accessed and manipulated efffeciently.
Ex: String,List,Tuples,Dictionary,Array
Dta structure helps keep data organized in a way that suits the specific needs of a program (e.g., sorted, searchable)

2--Mutable objects can be changed after they are created.
Ex:List,Dictionary,Set.
Immutable objects cannot be changed after they are created. Any modification creates a new object.
Ex: Tuples,Strings

3--The main differences between lists and tuples in Python is lists are mutable and tuples are immutable.

4-- Dictionaries store data as key-value pairs. Keys are unique and immutable.

5--We might use a set instead of a list in Python when you want to store unique items without duplicates, need faster checks to see if an item exists, or want to perform set operations like union, intersection, or difference easily.

6--A string is a sequence of characters (like letters, numbers, or symbols) enclosed in quotes.A list is a sequence of items that can include any data type (numbers, strings, other lists, etc.) and is written using square brackets.
The main differences are: strings are immutable,while lists are mutable.

7--Tuples ensure data integrity in Python by being immutable.This immutability helps protect data from accidental changes, making tuples ideal for storing constant or fixed values (like coordinates, settings, or database keys).

8--A hash table is a data structure that stores data in key-value pairs and allows for fast access using a key. It works by applying a hash function to the key, which converts it into a specific index in an internal array where the value is stored.
 Dictionaries are built using hash tables. When you use a dictionary like my_dict["name"], Python:hashes the key "name" using the hash() function

9--Yes, lists can contain different data types in Python.

10--Strings are immutable in Python to ensure safety, performance, and consistency. Once a string is created, its content cannot be changed.

11--Dictionaries are better than lists when you need to associate data with meaningful labels, perform fast lookups, or handle non-sequential data.

12--A tuple is preferable over a list when you need to store a fixed collection of items that should not change throughout the program.
Ex:A birth date doesn't change, so it's ideal to store it in a tuple.

13--Sets automatically remove duplicate values. A set is an unordered collection of unique elements, so if you add duplicates, only one copy is kept.

14--in keyword
     -It checks if the value is present in the list.
     -It checks if the key is present in the dictionary, not the value.

15--No, you cannot modify the elements of a tuple because tuples are immutable in Python.This means that once a tuple is created, its contents cannot be changed, added, or removed.

16--A nested dictionary is a dictionary where some of the values are themselves dictionaries.
Ex:- students = {
    "Ajay": {
        "age": 20,
        "grades": {"math": 90, "physics": 95}
    },
    "Arun": {
        "age": 22,
        "grades": {"chemistry": 85, "biology": 88}
    }
}

17--Accessing elements in a Python dictionary generally has an average time complexity of O(1), meaning it takes constant time regardless of the size of the dictionary. This efficiency comes from the dictionary’s underlying implementation using a hash table, which quickly maps keys to their corresponding values using a hash function.

18--Lists are preferred over dictionaries when you need to store an ordered collection of items accessed by their position rather than by a key, such as when the order of elements matters or you want to iterate through items in sequence.

19--Dictionaries were traditionally considered unordered because they didn’t maintain the order in which items were added—meaning the keys could appear in any order when you accessed or iterated over the dictionary. However, since Python 3.7, dictionaries preserve insertion order as an official language feature, so items are retrieved in the order they were added.

20--The main difference between a list and a dictionary in terms of data retrieval is that lists retrieve data by position (index), while dictionaries retrieve data by key.

In [1]:
#1
name = "Kondru Rohith"
print("My name is", name)

My name is Kondru Rohith

In [2]:
#2
str = "Hello World"
len(str)

11

In [3]:
#3
str = "Python Programming"
str[0:3]

'Pyt'

In [4]:
#4
str = "hello"
str.upper()

'HELLO'

In [5]:
#5
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [7]:
#6
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
#7
list =  [1, 2, 3, 4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [9]:
#8
list = [1, 2, 3, 4, 5]
list.remove(3)
list

[1, 2, 4, 5]

In [10]:
#9
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [11]:
#10
list =  [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [12]:
#11
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [13]:
#12
tup1 = ('red', 'green', 'blue', 'yellow')
tup1[-2]

'blue'

In [14]:
#13
tup2 =  (10, 20, 5, 15)
min(tup2)

5

In [15]:
#14
tup3 =  ('dog', 'cat', 'rabbit')
tup3.index('cat')

1

In [16]:
#15
tup4=("apple", "banana", "cherry")
if "kiwi" in tup4:
  print("Yes, 'kiwi' is in the fruits tuple")
else:
  print("No, 'kiwi' is not in the fruits tuple")

No, 'kiwi' is not in the fruits tuple

In [21]:
#15
tup5=("apple", "kiwi", "cherry")
if "kiwi" in tup5:
  print("Yes, 'kiwi' is in the fruits tuple")
else:
  print("No, 'kiwi' is not in the fruits tuple")

Yes, 'kiwi' is in the fruits tuple

In [23]:
#16
s = {'a','a','c','b','b', 'c','a'}
print(s)

{'a', 'b', 'c'}

In [24]:
#17
s = {1, 2, 3, 4, 5}
s.clear()
s

set()

In [26]:
#18
s = {1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

In [27]:
#19
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

In [28]:
#20
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1 & s2

{2, 3}

In [29]:
#21
person1 = {
    "name": "Rohith",
    "age": 18,
    "city": "Hyderabad"
}
print(person)

{'name': 'Rohith', 'age': 18, 'city': 'Hyderabad'}

In [31]:
#22
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
person2

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
#23
person3 = {'name': 'Alice', 'age': 30}
person3["name"]

'Alice'

In [34]:
#24
person4 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
person4.pop("age")
person4

{'name': 'Bob', 'city': 'New York'}

In [35]:
#25
person5 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person5:
  print("Yes, 'city' is one of the keys in the person dictionary")
else:
  print("No, 'city' is not one of the keys in the person dictionary")

Yes, 'city' is one of the keys in the person dictionary

In [36]:
#26
my_list = [1, 2, 3, 4, 5]
my_tuple = ("apple", "banana", "cherry")
my_dict = {
    "name": "Rohith",
    "age": 18,
    "city": "Hyderabad"
}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Rohith', 'age': 18, 'city': 'Hyderabad'}

In [37]:
#27
list = [45, 5, 98, 47, 25]
list.sort()
list

[5, 25, 45, 47, 98]

In [38]:
#28
list = ["Ajay", "Arun", "Prabhas", "Rohith", "Sharma"]
list[3]

'Rohith'

In [39]:
#29
dict1 = {"name": "Rohith", "age": 18, "city": "Hyderabad"}
dict2 = {"fav food": "Biryani", "fav colour": "Red"}
dict1.update(dict2)
dict1

{'name': 'Rohith',
 'age': 18,
 'city': 'Hyderabad',
 'fav food': 'Biryani',
 'fav colour': 'Red'}

In [40]:
#30
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'apple', 'cherry', 'banana'}